.flex_center {
  display: flex;
  justify-content: center;
  align-items: center;
}
.flex_between {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.main_heading {
  text-align: center;
  color: var(--mainColor);
  font-size: 45px;
  font-weight: 800;
  padding: 10px 20px;
  border: 2px solid var(--altColor);
  width: fit-content;
  margin: 0 auto 80px;
  transition: var(--mainTransition);
  box-shadow: 0 0 20px var(--altColor);
  &:hover {
    filter: grayscale(100%);
  }
  @include media(md) {
    font-size: 40px;
  }
  @include media(sm) {
    font-size: 35px;
  }
  @include media(xs) {
    font-size: 30px;
  }
}
.custom_button {
  background: none;
  color: var(--mainColor);
  border: 2px solid var(--altColor);
  box-shadow: 0 0 10px var(--altColor);
  font-size: 21px;
  font-weight: 700;
  letter-spacing: 1.5px;
  padding: 13px 19px;
  border-radius: 6px;
  outline: none;
  transition: var(--mainTransition);
  cursor: pointer;
  filter: grayscale(100%);
  &:hover {
    filter: grayscale(20%);
  }
}
.fontalt {
  font-family: var(--fontAlt);
}
.section_padding {
  padding: 60px 0;
}
.loader_cont {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  .loader_sub {
    position: relative;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    background: linear-gradient(#b25068, #c8a25a, #534666);
    animation: rotateAnime infinite linear 0.7s;
    top: -10%;
    @include media(xs) {
      top: -15%;
      width: 150px;
      height: 150px;
    }
    span {
      position: absolute;
      width: 100%;
      height: 100%;
      border-radius: 50%;
      background: linear-gradient(#b25068, #c8a25a, #534666);
      &:nth-child(1) {
        filter: blur(10px);
      }
      &:nth-child(2) {
        filter: blur(25px);
      }
      &:nth-child(3) {
        filter: blur(40px);
      }
    }
    &::before {
      content: "";
      position: absolute;
      width: 80%;
      height: 80%;
      top: 10%;
      left: 10%;
      border-radius: 50%;
      background-color: var(--bgColor);
      z-index: 2;
    }
  }
}
